.navbar {
    display: flex;
    align-items: center;
    padding: 24px;
    background-color: rgb(255, 255, 255);
    z-index: auto;
    position: relative;
    font-size: 16px;
    font-family: 'Josefin Sans', Arial, sans-serif;
  }
  
  .navItems {
    display: flex;
    align-items: center;
    margin-right: 24px;
  }
  
  .title {
    display: inline-block;
    font-weight: 400;
    font-size: 28px;
    color: rgb(67, 112, 217);
    font-family: 'Josefin Sans', Arial, sans-serif;
  }
  
  .navLinks {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .linkContainer {
    display: flex;
  }
  
  .link {
    
    margin-top: 16px;
    margin-right: 16px;
    padding: 6px;
    color: rgb(27,27,27);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .063em;
    text-decoration: none; /* Removes underline */
    text-transform: uppercase;
    font-family: 'Josefin Sans', Arial, sans-serif;
  }
  
  .link:hover {
      color: rgb(67,112,217); /* Changes color on hover */
  }
  
/*
.navbar {
    display: flex;
    align-items: center;
    padding: 24px;
    background-color: rgb(255, 255, 255);
    z-index: auto;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-top: 24px;
    position: relative;
    font-size: 16px;
    font-family: 'Josefin Sans', Arial, sans-serif;
    text-transform: none;
  }
  
  
  .navItems {
    display: flex;
    align-items: center;
    margin-right: 24px;
  }
  
  .title {
    display: inline-block;
    font-weight: 400;
    font-size: 28px;
    color: rgb(67, 112, 217);
    justify-content: flex-start;
    line-height: 1.2;
    word-wrap: break-word;
    max-width: 100%;
  }
  
  .navLinks {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .linkContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .link {
    margin-top: 16px;
    margin-right: 16px;
    padding: 6px;
    color: rgb(27, 27, 27);
    border-bottom: 1px solid;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.063em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Josefin Sans', Arial, sans-serif;
  }
  */